# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = akirilov
  email = ***REMOVED***
[color]
  ui = auto
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
[pull]
  rebase = true
  autostash = true
[rebase]
  autostach = true
[submodule]
  recurse = true
[diff]
  tool = vimdiff3
[column]
  ui = auto
[branch]
  sort = -committerdate
[alias]
  fpush = push --force-with-lease
  golog = log --graph --oneline
