# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = akirilov
  email = atanas_kirilov@hotmail.com
[color]
  ui = auto
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
[pull]
  rebase = true
